<%- include("../layout/header.ejs")%>
<h1> Forget admin password</h1>

<form method="post" >

<div>
    <input type="email" placeholder="Enter email" name="email" size="40" required />
</div>
<br />
<button type="submit"> Reset password</button>


</form>

<%if(typeof message !== 'undefined'){%>
<h4 style="color: green;"><%=message%></h4>
<%}%>
<%- include("../layout/footer.ejs")%>

