<%- include("./layout/header.ejs")%>
<h1> Reset password</h1>

<form method="post" >


<div>
    <input type="password" placeholder="Enter password" name="password" size="40" required />
</div>
<br />
<input type="hidden" name="userId" value="<%=userId%>" />
<br />
<div>
<button type="submit"> Reset password</button>
</div>

</form>

<%if(typeof message !== 'undefined'){%>
<h4 style="color: green;"><%=message%></h4>
<%}%>
<%- include("./layout/footer.ejs")%>

